/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/assets/vendor

# IntelliJ project files
.idea/
*.iml

# propel
/app/config/propel/runtime-conf.xml
/app/config/propel/buildtime-conf.xml
/app/config/propel/config.php
/app/models/Base
/app/models/Map

/bootstrap/env.php
_ide_helper.php
