<!-- start three_features snippet -->
                            <!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
                            <tr>
                                <td style="background: #ffffff;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
                                        <tbody>
                                            <tr>
                                                <td class="hh-force-col" width="100% !important;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                                                                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
                                                                        {{ heading }}
                                                                    </strong>
                                                                    <br>
                                                                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
                                                                        {{ title }}
                                                                    </strong>
                                                                    <br><br>
                                                                    {{ content|safe }}
                                                                    <br><br>
                                                                    
                                                                    <table style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" bgcolor="#CCCCCC" height="10">
                                                                                    <table height="10" width="{{ percent }}">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td bgcolor="#009900"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    {{ percent }} Raised 
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br>
                                                                    <!-- Imageless Button : BEGIN -->
                                                                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                                                                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                                                                    </a>
                                                                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" class="hh-fluid">
                                                                                    <a href="{{ link.url }}" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                                                                        <strong>
                                                                                            Read More
                                                                                        </strong>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- Imageless Button : END -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="hh-force-col-center" valign="center">
                                                    <img alt="email wireframe" border="0" class="hh-fluid" src="{{ image_src|safe }}" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    <!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->
                            <!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
                            <tr>
                                <td style="background: #ffffff;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
                                        <tbody>
                                            <tr>
                                                <td class="hh-force-col" width="100% !important;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                                                                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
                                                                        {{ heading2 }}
                                                                    </strong>
                                                                    <br>
                                                                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
                                                                        {{ title2 }}
                                                                    </strong>
                                                                    <br><br>
                                                                    {{ content2|safe }}
                                                                    <br><br>
                                                                    
                                                                    <table style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" bgcolor="#CCCCCC" height="10">
                                                                                    <table height="10" width="{{ percent2 }}">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td bgcolor="#009900"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    {{ percent2 }} Raised 
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br>
                                                                    <!-- Imageless Button : BEGIN -->
                                                                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                                                                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                                                                    </a>
                                                                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" class="hh-fluid">
                                                                                    <a href="{{ link2.url2 }}" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                                                                        <strong>
                                                                                            Read More
                                                                                        </strong>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- Imageless Button : END -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="hh-force-col-center" valign="center">
                                                    <img alt="email wireframe" border="0" class="hh-fluid" src="{{ image_src2|safe }}" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    <!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->                            <!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
                            <tr>
                                <td style="background: #ffffff;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
                                        <tbody>
                                            <tr>
                                                <td class="hh-force-col" width="100% !important;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                                                                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
                                                                        {{ heading3 }}
                                                                    </strong>
                                                                    <br>
                                                                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
                                                                        {{ title3 }}
                                                                    </strong>
                                                                    <br><br>
                                                                    {{ content3|safe }}
                                                                    <br><br>
                                                                    
                                                                    <table style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" bgcolor="#CCCCCC" height="10">
                                                                                    <table height="10" width="{{ percent3 }}">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td bgcolor="#009900"></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    {{ percent3 }} Raised 
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br>
                                                                    <!-- Imageless Button : BEGIN -->
                                                                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                                                                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                                                                    </a>
                                                                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" class="hh-fluid">
                                                                                    <a href="{{ link3.url3 }}" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                                                                        <strong>
                                                                                            Read More
                                                                                        </strong>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- Imageless Button : END -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="hh-force-col-center" valign="center">
                                                    <img alt="email wireframe" border="0" class="hh-fluid" src="{{ image_src3|safe }}" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->
<!-- end three_features snippet -->