{% snippet "template_top" %}

{% if header %} 
    {% snippet "header_top" %}
        {{ header }}
    {% snippet "header_bottom" %}
{% endif %} 
 
{% snippet "content_top" %}
    {{ content|safe }}
 
    {% if link.url %} 
        {% snippet "url_line" %}
    {% endif %} 

{% snippet "content_bottom" %}

<!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
<tr>
	<td style="background: #ffffff;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
			<tbody>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
										<strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
											{{ country }}
										</strong>
										<br>
										<strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
											{{ borrower_name }}
										</strong>
										<br><br>
										{{ summary }} 
										<br><br>
										<!-- Imageless Button : BEGIN -->
										<!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
										<a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
										</a>
										<table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
											<tbody>
												<tr>
													<td align="center" class="hh-fluid">
														<a href="{{ borrower_link }}" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
															<strong>
																Lend
															</strong>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
										<!-- Imageless Button : END -->
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td class="hh-force-col-center" valign="center">
						<img alt="email wireframe" border="0" class="hh-fluid" src="{{ image_src }}" style="display: inline-block;margin: auto;width:300px;float:right; padding-bottom: 30px !important;" width="300">
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->

{% snippet "template_bottom" %}