{% snippet "template_top" %}

{% snippet "content_top" %}
  One of our lenders said "Zidisha collects not just loans, but biographies."  We couldn’t agree more — and consider it a testament to one of our favorite features: the ability to interact directly with the people behind these loans and change the course of their lives for the better.
  <br><br>
  The connections that happen at Zidisha ultimately turn into stories - and we couldn't resist sharing a few of them with you.  Let them serve as inspiration to start your own collection of Zidisha entrepreneur biographies!
{% snippet "content_bottom" %}

<!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
<tr>
  <td style="background: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
      <tbody>
        <tr>
          <td class="hh-force-col" width="100% !important;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">Burkina Faso</strong>
                    <br>
                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">Siaka Traore</strong>
                    <br><br>
                    Siaka lives in a tiny village in the vast interior of the desert country of Burkina Faso. The nearest source of running water and electricity is fifteen kilometers away – a full day’s journey by donkey cart. Siaka used Zidisha loans to turn a dusty wasteland into a thriving cassava farm and processing factory - employing dozens and generating profits that have transformed the prospects of his entire community. 
                    <br><br>
                    <!-- Imageless Button : BEGIN -->
                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                    </a>

                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                      <tbody>
                        <tr>
                          <td align="center" class="hh-fluid">
                            <a href="http://p2p-microlending-blog.zidisha.org/2014/03/15/spotlight-on-siaka-traore-burkina-faso/" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                              <strong>
                                Read Siaka's Story
                              </strong>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Imageless Button : END -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="hh-force-col-center" valign="center">
            <img alt="email wireframe" border="0" class="hh-fluid" src="http://zidisha.files.wordpress.com/2014/03/profile-3.jpg?w=487" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
<tr>
  <td style="background: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
      <tbody>
        <tr>
          <td class="hh-force-col" width="100% !important;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
                      Senegal
                    </strong>
                    <br>
                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
                      Aissatou Traore
                    </strong>
                    <br><br>
                    Aissatou is an intrepid saleslady from the war-torn Casamance in West Africa, who dreams of making enough money to send her son to college overseas. Inspired by Dale Carnegie's idea that there is a "mine of gold" inside each of us, she gets up at four in the morning to read business books before heading out into the bush on sales trips. 
                    <br><br>
                    <!-- Imageless Button : BEGIN -->
                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                    </a>
                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                      <tbody>
                        <tr>
                          <td align="center" class="hh-fluid">
                            <a href="http://p2p-microlending-blog.zidisha.org/2014/02/27/the-mine-of-gold-inside/" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                              <strong>
                                Read Aissatou's Story
                              </strong>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  <!-- Imageless Button : END -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="hh-force-col-center" valign="center">
            <img alt="email wireframe" border="0" class="hh-fluid" height="300" src="http://zidisha.files.wordpress.com/2014/02/at3.png?w=293&h=300" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : BEGIN -->
<tr>
  <td style="background: #ffffff;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fluid" width="auto">
      <tbody>
        <tr>
          <td class="hh-force-col" width="100% !important;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="padding: 30px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #687477; font-size: 14px; line-height: 21px;">
                    <strong class="hh-center" style="font-size: 12px; line-height: 2; letter-spacing: .15em; color: #b4c1c8;">
                      Kenya
                    </strong>
                    <br>
                    <strong class="hh-center" style="font-size: 18px; line-height: 1; letter-spacing: .05em;">
                      Paul Kamande
                    </strong>
                    <br><br>
                    Paul Kamande is an Electrical Engineering student in Kenya and quite a remarkable person.  At age twenty-three, he designed an automated irrigation system adapted to the unique climate of his home village in central Kenya.  Thanks to technology, poverty didn't stop him from going to college: he used a combination of Zidisha loans and an Indiegogo campaign to fund his tuition.
                    <br><br>
                    <!-- Imageless Button : BEGIN -->
                    <!-- In Outlook, only the button label is clickable and nothing happens if you click the rest of the button shape. But it still works. Try http://buttons.cm/ for bulletproof buttons. -->
                    <a href="http://tedgoas.github.io/Cerberus/" style="text-decoration:none;">
                    </a>
                    <table border="0" cellpadding="13" cellspacing="0" class="button" style="background: #454b4e; border-radius: 4px;">
                      <tbody>
                        <tr>
                          <td align="center" class="hh-fluid">
                            <a href="http://p2p-microlending-blog.zidisha.org/2014/01/20/i-want-to-leave-a-legacy-in-the-world/" style="text-decoration:none;font-size:12px;line-height: 1; color:#ffffff; letter-spacing: .15em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                              <strong>
                                Read Paul's Story
                              </strong>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Imageless Button : END -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="hh-force-col-center" valign="center">
            <img alt="email wireframe" border="0" class="hh-fluid" src="http://zidisha.files.wordpress.com/2014/01/pk.png?w=525" style="display: inline-block;margin: auto;width:300px;float:right;" width="300">
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- Two Columns, One Column Without Padding ==> Stacked Layout : END -->

{% snippet "footer_top" %}
  <div style="font-size: 22px; line-height: 36px; color: #687477;">
    Many more incredible entrepreneurs are sharing their stories at Zidisha every day. Explore and discover your own favorites!
  </div>
{% snippet "footer_bottom" %}

{% snippet "button_top" %}
  Browse Projects
{% snippet "button_bottom" %}
{% snippet "template_bottom" %}