/* Homepage carousel */
.carousel-inner {
  height: 200px;
  @media (min-width: @screen-sm-min) {
    height: 410px;
    margin-bottom: 30px;
  }
  @media (min-width: @screen-md-min) {
    height: 575px;
    margin-bottom: 30px;
  }
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-gradient-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-gradient-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-caption {
  display:none;
  @media (min-width: @screen-sm-min) {
    display: inline-block;
    z-index: 5;
    top: 90px;
    width: 40%;
  }
  @media (min-width: @screen-md-min) {
    top: 110px;
  }
}
.caption-left {
    left: 12%;
}
.caption-right {
    left: 48%;
    right: 12%;
    text-align: right !important;
}
.carousel-control, .carousel-indicators {
  display:none;
  @media (min-width: @screen-sm-min) {
    display: inline-block;
  }
}
.carousel-caption {
  text-align: left;
}
.carousel-inner h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
  margin: 0;
  padding: 0 0 20px 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .5), -1px -1px 5px rgba(0, 0, 0, .5);
  @media (min-width: @screen-md-min) {
    font-size: 45px; 
    line-height: 50px;
  }
}
.carousel-inner p {
  display: none;
  @media (min-width: @screen-md-min) {
    display: inline-block;
    margin: 0;
    padding: 0 0 30px;
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5), -1px -1px 5px rgba(0, 0, 0, .5);
  }
}
.carousel-indicators {
  display: none;
  @media (min-width: @screen-md-min) {
    display: inline-block;
  }
}