.filter-bar {
	margin-bottom: 0;
  	@media (min-width: @screen-sm-min) {
  		margin-bottom: @padding-large-horizontal;
  	}
  	@media (min-width: @screen-md-min) {
  		margin-bottom: 0;
  	}
}
.filter-bar span {
	padding: 0 12px;
}
.page-section-filter {
	padding: 12px 0;
	@media (min-width: @screen-sm-min) {
		padding: 33px 0;
	}
}
.filter-bar .text {
	display: none;
  	@media (min-width: @screen-sm-min) {
		display: inline-block;
	}
}
.filter-bar .btn {
	margin-bottom: 12px;
	width: 100%;
	text-align: left;
	@media (min-width: @screen-sm-min) {
		margin-bottom: 0;
		width: auto;
		text-align: center;
	}
}
.filter-bar .input-group {
	width: 100%;
}