#toggle-moreProjects.collapse {
    @media (min-width: @screen-sm-min) {
        display: block !important;
    }
}
.page-section-filter {
    @media (max-width: @screen-xs-max) {
        margin-bottom: -15px;
    }
}
.page-section-filter {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
  @media (min-width: @screen-sm-min) {
    padding: 33px 0;
    background-color: #fff;
  }
}
ul.filter-bar {
  	@media (min-width: @screen-sm-min) {
  		margin-bottom: 0;
      padding: 0;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
  	}
}
.filter-bar > li {
  list-style: none;
}
.filter-bar > li:first-child {
  padding-left: 0;
  margin-right: 20px !important;
  margin-left: 0 !important;
}
.filter-bar > li:last-child {
  margin-left: 10px;
  margin-right: -10px;
  @media (min-width: @screen-md-min) {
    margin-left: 40px;
  }
}
.filter-bar .text {
  display: none;
    @media (min-width: @screen-md-min) {
    display: inline-block;
    white-space: nowrap;
    margin: 6px 24px 6px 0;
  }
}
.filter-bar .btn {
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
    margin-right: 10px;
    width: auto;
    text-align: center;
  }
}
.filter-bar .btn > .fa {
  margin-right: 50px !important;
}
.filter-bar .input-group {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  }
}
.filter-bar .input-group .btn {
    height: 36px;
}
#show {
    display: none;
    @media (min-width: @screen-md-min) {
        display: inline;
    }
}