select.form-control, input.form-control, textarea.form-control {
	@media (min-width: @screen-sm-min) {
		max-width: 300px;
	}
}
form .btn {
	margin-bottom: 15px;
}
.form-control-feedback {
	top: 10px !important;
 }
.form-control {
	.box-shadow(none);
}
.hide-label label {
	display: none;
}
@modal-sm: 340px;
.modal-sm { 
  width: @modal-sm;
  margin: 30px auto;
}
.modal-dialog {
	@media (max-width: @screen-xs-max) {
		margin: 0;
		width: 100%;
		height: 100%;
	}
}
.modal-content {
	@media (max-width: @screen-xs-max) {
		width: 100%;
		height: 100%;
	}
}
#join-modal, #login-modal {
	z-index: 2000;
}
.modal-body .btn {
 	margin-bottom: 11px;
 }
.modal-body .btn-primary {
	margin-top: 11px;
 }