.giftcard-thumbnail { 
  float:left; 
  margin-right: -15px;
  margin-bottom: 10px;
}
.giftcard-thumbnail label { 
  width: auto !important;
}
.giftcard-thumbnail img { 
  width: 100%;
  border: 4px solid @gray-light;  
  @media (max-width: @screen-xs-max) {
    margin-left: -7px;
  }
}
.giftcard-thumbnail input[type="radio"] { 
  display: none; 
}
.giftcard-thumbnail img:hover, .giftcard-thumbnail.selected img {
  border-color: @brand-primary;
}
.giftcard {
  margin-top: 15px;
  margin-bottom: -50px; 
  padding: 15px 0 50px 0;
  @media (min-width: @screen-sm-min) {
    margin-top: 40px;
    padding: 40px;
  }
}
.giftcard > div > div {
  padding: 0 40px;
}
.pay-giftcard {
  padding: 15px;
  margin-top: 0;  
  margin-bottom: -15px;
  @media (min-width: @screen-sm-min) {
    margin-top: 25px;
    margin-bottom: 0;
  }
}
.pay-giftcard .form-group {
  margin-bottom: 0;
}
.pay-giftcard .btn-primary {
  max-width: 400px;
  margin-bottom: 0;
}