.giftcard_thumbnail { 
  float:left; 
}
.giftcard_thumbnail label { 
  width: auto !important;
}
.giftcard_thumbnail img { 
  width: 175px; 
  border: 4px solid #666;
  border-radius: 25px;
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 6px;
}
.giftcard_thumbnail input[type="radio"] { 
  display: none; 
}
.giftcard_thumbnail img:hover, .giftcard_thumbnail.selected img {
  border-color: @brand-primary;
}