.home-section {
  padding-top: 30px;
  padding-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    padding: 50px 15px; 
  }
}
.highlight {
  background-color: #fff;
  border-top: 1px solid @panel-default-border; 
  border-bottom: 1px solid @panel-default-border; 
}
.home .result {
  @media (max-width: @screen-xs-max) {
      margin-left: -20px;
      margin-right: -20px;
      padding-bottom: 10px;
  }
}
.home .container-fluid:first-child {
  @media (min-width: @screen-sm-min) {
    margin-top: -30px;
    padding-top: 20px;
  }
}
.home .container-fluid:last-child {
  margin-bottom: -15px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: -50px;
  }
}
.home h1, .home h2, .home h3 {
  @media (max-width: @screen-xs-max) {
    font-size: 22px;
  }
}
.home h2 {
  @media (min-width: @screen-sm-min) {
    margin-bottom: 22px;
  }
}
.home p.lead {
  @media (min-width: @screen-sm-min) {
    line-height: 31px;
  }
}
.home .lend-title h2 {
  font-weight: normal;
  @media (max-width: @screen-xs-max) {
    padding: 0 15px;
  }
}
.home .fa {
  font-size: 50px;  
  margin-bottom: 0;
}
.home blockquote {
  text-align: left !important;
  @media (max-width: @screen-xs-max) {
    padding: 0 0 0 10px;
  }
}
.home .press .col-sm-9:nth-child(2) > blockquote {
  @media (max-width: @screen-xs-max) {
    margin-top: -15px;
  }
}
.home-bottom {
  @media (min-width: @screen-sm-min) {
    margin-top: 15px !important;
  }
}
#see-all {
  font-size: 16px;
  font-weight: bold;
}
.home #funding-tag {
  display: inline-block !important;
  @media (max-width: @screen-xs-max) {
      margin-right: 20px !important;
  }
}
.home img.press-logo {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
  display: block;
  padding: 18px 0 0 25px;
}
#tc_logo {
  margin-top: 10px;
}
.btn-home {
  font-size: 20px;
  background-color: #fff;
  color: @brand-primary; 
  border: 2px solid @brand-primary; 
  font-weight: bold;
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
}
.btn-home:hover {
  background-color: @brand-primary;
  color: #fff;
}