.home p {
  @media (min-width: @screen-sm-min) {
    font-size: 20px;
  }
}
.home .fa {
  font-size: 50px; 
  margin-top: 30px; 
  margin-bottom: 0;
}
.home blockquote {
  text-align: left !important;
}
.home img.press-logo {
  padding-top: 11px; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1);
}
.btn-home {
  color:#2e9df7; 
  border: 2px solid #2e9df7; 
  font-size: 24px; 
  font-weight: bold;
}