.home-section {
  padding: 30px 10px 15px 10px;
  @media (min-width: @screen-sm-min) {
    padding: 50px 15px; 
  }
}
.home-grey {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0; 
}
.home .result {
  height: 300px;
}
.home .result .col-xs-12 {
  @media (max-width: @screen-xs-max) {
      margin-left: -30px;
      width: 118%;
  }
}
.home h1, .home h2, .home h3 {
  @media (max-width: @screen-xs-max) {
    font-size: 22px;
  }
}
.home h2 {
  @media (min-width: @screen-sm-min) {
    margin-bottom: 22px;
  }
}
.home p.lead {
  @media (min-width: @screen-sm-min) {
    line-height: 31px;
  }
}
.home .lend-title h2 {
  font-weight: normal;
  @media (max-width: @screen-xs-max) {
    padding: 0 15px;
  }
}
.home .fa {
  font-size: 50px;  
  margin-bottom: 0;
}
.home blockquote {
  text-align: left !important;
  @media (max-width: @screen-xs-max) {
    padding: 0 0 0 10px;
  }
}
.home .press .col-sm-9:nth-child(2) > blockquote {
  @media (max-width: @screen-xs-max) {
    margin-top: -15px;
  }
}
.text-large .lead .home-bottom {
  @media (min-width: @screen-sm-min) {
    margin-top: 15px;
  }
}
#see-all {
  font-size: 16px;
  font-weight: bold;
}
.home #funding-tag {
    display: inline-block !important;
}
.home img.press-logo {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
  display: block;
  padding: 18px 0 0 25px;
}
#tc_logo {
  margin-top: 10px;
}
.btn-home {
  font-size: 20px;
  background-color: #fff;
  color: @brand-primary; 
  border: 2px solid @brand-primary; 
  font-weight: bold;
  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
}
.btn-home-bottom {
  margin-bottom: -15px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: -50px;
  }
}
.btn-home:hover {
  background-color: @brand-primary;
  color: #fff;
}