.results-desc:after {
    content: '\A';
    white-space: pre;
    @media (min-width: @screen-md-min) {
        content: "";
        margin-right: 50px;
    }
}
#about-category {
    @media (min-width: @screen-md-min) {
        float: right !important;
    }
}
.result {
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 2px #e5e5e5;
    padding: 10px;
    height: 460px;
}
.loan-category {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}
.loan .lend-title {
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}
.loan h2 {
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
}
.loan h2 a {
    color: #333;
}
.loan h2 a:hover, .loan h2 a:active {
    color: @brand-primary;
    text-decoration: none;
}
.loan .progress {
    margin-top: 25px;
}
a.link-dark {
    color: #333;
}
.result .profile-image {
  height: 200px;
}
.result .col-xs-12 {
  @media (max-width: @screen-xs-max) {
      margin-right: auto;
      margin-left: auto;
      margin-left: -15px;
      margin-right: -15px;
  }
}