.loan-category {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}
.profile-photo img {
	width: 100%;
	height: auto;
}
.loan h2 {
    font-size: 24px;
    color: #333;
    @media (min-width: @screen-md-min) {
      	font-size: 32px;
    }
}
.loan h2 a {
    color: #333;
}
.loan h2 a:hover, .loan h2 a:active {
    color: @brand-primary;
    text-decoration: none;
}
.loan-summary {
    padding: 12px 0;
}
a.link-dark {
    color: #333;
}