.lend-details {
  .table .form-group {
    margin-bottom: 0px;
  }
  .table tbody > tr > td {
    vertical-align: middle;
  }
}
.loan-section {
  .make-row();
}
.loan-section-title {
  .make-sm-column(2);
  @media (max-width: @screen-xs-max) {
    font-size: 18px;
    padding-bottom: 12px;
    text-align: center;
  }
}
.loan-section-content {
  .make-sm-column(10);
}