body {
  /* prevent floating footer */
  padding-bottom: 0 !important;

  /* enable scrollspy http://stackoverflow.com/questions/12095579/twitter-bootstrap-scrollspy-always-selecting-last-element */
  height: 100%;
}
.footer {
  margin-top: 15px;
  @media (min-width: @screen-sm-min) {
    margin-top: 30px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 50px;
  }
}
.page-section {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 22px;
  padding-bottom: 22px;
}
.page-section-inverted {
  background-color: @gray-dark;
  color: #e6e6e6;
}
.page-section-inverted .h2, .h3 {
  color: #e6e6e6;
}
.page-section-inverted a {
  color: #e6e6e6;
}
.gutter-xs {
  padding-left: 2px;
  padding-right: 2px;
}
.mobile-padding {
  @media (max-width: @screen-xs-max) {
    padding-bottom: 15px !important;
  }
}
.profile-image {
    width: 100%;
    min-height: 200px;
    /* lt ie8 */
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center top;

    /* scale bg image proportionately */
    background-size: cover;
    
    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
    -ms-behavior: url(/backgroundsize.min.htc);
}