body {
  /* prevent floating footer */
  padding-bottom: 0 !important;

  /* enable scrollspy http://stackoverflow.com/questions/12095579/twitter-bootstrap-scrollspy-always-selecting-last-element */
  height: 100%;
}
.highlight {
  background-color: #fff;
  border: 1px solid @panel-default-border; 
}
.highlight-top {
  border-top: none; 
  padding: 0 15px 45px 15px;
  margin-bottom: 30px;
}
.highlight-panel {
  padding: 0 15px 22px 15px;
  margin: -5px -15px -15px -15px;
  @media (min-width: @screen-sm-min) {
    margin: 15px 0 0 0;
    padding: 0 30px 22px 30px;
  }
}
.highlight-panel .page-header {
  margin-top: 29px;
}
.container-fluid.highlight {
  border-right: none;
  border-left: none;
}
.footer {
  margin-top: 15px;
  @media (min-width: @screen-sm-min) {
    margin-top: 30px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 50px;
  }
}
.page-section {
  background-color: @panel-default-bg;
  border-bottom: 1px solid @panel-default-border;
  margin-bottom: 22px;
  padding-bottom: 22px;
}
.panel-info {
  border-color: @panel-default-border;
  margin: 15px -15px -15px -15px;
  @media (min-width: @screen-sm-min) {
    margin: 0 0 15px 0;
  }
}
.panel-info > .panel-heading {
  color: @headings-color;
  background-color: darken(@body-bg, 5%);
  border-color: @panel-default-border;
}
.panel-info .form-group:last-child {
  margin-bottom: 0;
}
.page-section-inverted {
  background-color: @gray-dark;
  color: #e6e6e6;
}
.page-section-inverted .h2, .h3 {
  color: #e6e6e6;
}
.page-section-inverted a {
  color: #e6e6e6;
}
.gutter-xs {
  padding-left: 2px;
  padding-right: 2px;
}
.mobile-padding {
  @media (max-width: @screen-xs-max) {
    padding-bottom: 15px !important;
  }
}
.profile-image {
    width: 100%;
    min-height: 200px;
    /* lt ie8 */
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center top;

    /* scale bg image proportionately */
    background-size: cover;
    
    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
    -ms-behavior: url(/backgroundsize.min.htc);
}
.info-page img {
  margin: 15px 0;
}
.how-it-works img {
  width: 62%;
  float: right;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 45px;
}
.how-it-works hr {
  clear: both;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fff;
}