.navbar-brand {
  padding-top: 11px;
  padding-bottom: 17px;
}
.nav > li, .nav > li > a {
	@media (max-width: @screen-xs-max) {
		display: inline-block; 
	}
}
.navbar-default .navbar-text {
	color: #777777;
}
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: @brand-primary;
}