@import "../vendor/bootstrap/less/bootstrap.less";
@import "lato.less";
@import "../vendor/font-awesome/less/font-awesome.less";
@import "variables.less";

.text-light {
  font-weight: 300;
}

.text-large {
  font-size: 22px;
}

.gutter-xs {
  padding-left: 2px;
  padding-right: 2px;
}

.alpha {
  margin-top: 0;
}

h5 {
  margin-top: 22px;
}

h5.alpha {
  display: inline-block;
}

.omega {
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 11px;
  padding-bottom: 17px;
}

.leaf {
  margin-top: -12px;
  padding: 0 2px 0 12px;
}

.page-section {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 22px;
  padding-bottom: 22px;
}

.hr-text {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hr-text hr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


.hr-text span {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

@modal-sm: 340px;
.modal-sm { 
  width: @modal-sm;
  margin: 30px auto;
}

.btn-icon {
  background-color: #3B5999;
  padding: 0;
  text-align: left;
}

.btn-icon .icon-container {
  text-align: center;
  padding: 10px 16px;
  border-right: 1px solid darken(#3B5999, 5%);;
  display: inline-block;
}

.btn-icon:hover {
  background-color: darken(#3B5999, 5%);;
}

.btn-icon:hover .icon-container {
  border-right: 1px solid darken(#3B5999, 10%);;
}

.btn-icon .text-container {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 78%;
}

@import "wizard.less";
